@model CarRentalSystem.Models.CarModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Usuń</h1>

<h3>Czy jesteś pewien, że chcesz usunąć ten model samochodu z listy?</h3>
@if (!User.IsInRole("Administrator"))
{
    <div class="alert alert-warning" role="alert">
        Modyfikacji modelu samochodu na tej podstronie może dokonywać tylko i wyłącznie Administrator!
    </div>
}
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Marka
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            Rocznik
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Year)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Tak, usuń!" class="btn btn-danger" /> |
        <a asp-action="Index">Powrót</a>
    </form>
</div>
