@{
    ViewData["Title"] = "Polityka prywatności";
}
<h1>@ViewData["Title"]</h1>

<p>
    Ostatnia aktualizacja: 19.11.2023 r. <br>

    Dziękujemy za korzystanie z naszego systemu wypożyczania samochodów. Wierzymy w ochronę prywatności naszych użytkowników i zobowiązujemy się do zapewnienia bezpiecznego środowiska dla Państwa danych osobowych. Niniejsza Polityka Prywatności wyjaśnia, w jaki sposób gromadzimy, używamy, udostępniamy i chronimy informacje zbierane podczas korzystania z naszej strony internetowej <b>CarRentalSystem</b>.<br>

    Rodzaje gromadzonych danych:
    <ul>
        <li>Dane osobowe: Imię, nazwisko, adres e-mail, numer telefonu, adres zamieszkania.</li>
        <li>Dane płatnicze: Informacje dotyczące karty kredytowej/debetowej, aby dokonać płatności.</li>
        <li>Dane pojazdu: Numer rejestracyjny, dane techniczne pojazdu.</li>
    </ul>
    Cel zbierania danych:
    <ul>
        <li>Wypożyczanie samochodów: Aby przetwarzać rezerwacje, dokonywać płatności i świadczyć usługi.</li>
        <li>Obsługa klienta: W celu udzielenia wsparcia i rozwiązania problemów związanych z wypożyczeniem.</li>
        <li>Marketing i komunikacja: Informowanie o nowych ofertach, promocjach i aktualizacjach.</li>
    </ul>

    Udostępnianie informacji:
    <ul>
        <li>Trzecie strony: Możemy udostępniać dane osobowe podmiotom trzecim wyłącznie w celu realizacji usług związanych z wypożyczaniem samochodów.</li>
    </ul>

    Bezpieczeństwo danych:
    <ul>
        <li>Środki bezpieczeństwa: Stosujemy odpowiednie techniczne i organizacyjne środki bezpieczeństwa, aby chronić dane przed nieuprawnionym dostępem, utratą lub zniszczeniem.</li>
    </ul>
    Pliki cookie:
        <ul>
        <li>Wykorzystujemy pliki cookie w celu poprawy funkcji strony, analizy ruchu oraz dostosowania treści do preferencji użytkownika.</li>
    </ul>
    Prawa użytkowników:
    <ul>
        <li>Dostęp do danych: Użytkownicy mają prawo żądać dostępu do swoich danych osobowych.</li>
        <li>Poprawa danych: Użytkownicy mają prawo żądać poprawy swoich danych osobowych w przypadku ich nieprawidłowości.</li>
        <li>Usunięcie danych: Użytkownicy mogą zażądać usunięcia swoich danych osobowych, jeżeli nie są już potrzebne do celów, dla których zostały zebrane.</li>
    </ul>
    Kontakt:
    <ul>
        <li>Jeśli mają Państwo pytania dotyczące naszej Polityki Prywatności, prosimy o kontakt pod adresem [adres e-mail] lub [numer telefonu].</li>
    </ul>
   

    Zachęcamy do regularnego sprawdzania naszej Polityki Prywatności, ponieważ może ona być aktualizowana w związku z ewentualnymi zmianami w przepisach prawa lub naszych praktykach dotyczących prywatności.<br>
    <br>
    <br>
    Dziękujemy za zaufanie i korzystanie z <b>CarRentalSystem</b>.
</p>
