@model CarRentalSystem.Models.RentalModel

@{
    ViewData["Title"] = "Create";
}

<h1>Wynajmij samochód</h1>

<h4>Można wynająć auta tylko te, które są dostępne na liście!</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CarId" class="control-label">Nazwa auta</label>
                @{
                    if (Model != null && Model.CarModels != null && Model.CarModels.Any())
                    {
                        var selectList = Model.CarModels.Select(c => new SelectListItem { Value = c.Id.ToString(), Text = c.BrandModel() });
                        <select asp-for="CarId" asp-items="@selectList" class="form-control">
                            <option value="">Wybierz auto:</option>
                        </select>
                    }
                    else
                    {
                        <p>Brak dostępnych samochodów.</p>
                    }
                }
                <span asp-validation-for="CarId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="CustomerId" class="form-control" readonly hidden />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalDate" class="control-label">Data wynajmu:</label>
                <input asp-for="RentalDate" class="form-control" type="datetime-local" min="@DateTime.Today.ToString("yyyy-MM-dd")">
                <span asp-validation-for="RentalDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label">Data zwrotu:</label>
                <input asp-for="ReturnDate" class="form-control" type="datetime-local" min="@DateTime.Today.AddDays(14).ToString("yyyy-MM-dd")">
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Wynajmij" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Powrót!</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
